* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Home/assets/img/SITE.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 55vh;
}

#logo {
    height: 40vh;
    margin-bottom: 0px;
}

.top-section .div-logo {
    margin-top: -10vh;
}

.div-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: -10vh;
}

.but-top {
    width: 38vw;
    height: 5vh;
    max-width: 350px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

h1 {
    font-size: 5em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600 !important;
    text-align: center;
}

.header-first-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -18vh;
    background-color: white;

}

.header-first-sec .nav-header-first {
    display: flex;
    gap: 1.5vw;
    padding-right: 2vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.header-first-sec .nav-header-first #but1 {
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 5vh;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
}

.header-first-sec .nav-header-first #but2 {
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 5vh;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
}

.header-first-sec .nav-header-first #but3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 5vh;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
}

.header-first-sec .nav-header-first #but4 {
    background-color: black;
    color: white;
    border-radius: 15px;

    height: 5vh;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
}

.header-first-sec .nav-header-first #but5 {
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 5vh;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
}

#logo1 {
    height: 45vh;
    margin-top: 2vh;
}



.second-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    width: 100%;
    padding: 0vh 3vw 0vh 3vw;
    background-color: black;
    margin-top: -18vh;

}

.second-section-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 5vh;
}

.second-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

#image-ana {
    width: 70%;
    border-radius: 0 70vh 0 0;
    padding: 3vh 0vw 3vh 0vw;
}

#title-second-section {
    color: white;
    font-size: 3.5em !important;
    overflow-y: hidden;
}

p {
    color: white;
    font-size: 1.2em !important;
}

.formacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.formacao-right {
    width: 50%;
    display: flex-start;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 1024px) {
    h1 {
        font-size: 4em;
    }

    .nav-header-first {
        font-size: 0.8em;
        text-align: center;
    }


}

@media (max-width: 860px) {

    .top-section {
        gap: 5vh;
        height: 43vh;

    }

    h1 {
        font-size: 4em !important;
    }

    .but-top {
        font-size: 0.8em;

        text-align: center;
    }

    #logo {
        height: 25vh;
        margin-top: 0vh;
    }

    .nav-header-first {
        font-size: 0.55em;

    }


}

@media (max-width: 575px) {

    .top-section {
        position: relative;
        height: 35vh;
    }

    h1 {
        font-size: 2em !important;
    }

    .but-top {
        font-size: 1 em;
        width: 100%;
        height: 5vh;
        text-align: center;
    }

    .header-first-sec {
        flex-direction: column;
        margin-top: -18vh;

    }

    .nav-header-first {
        padding-top: 25vh;
        font-size: 1em;
        position: absolute;

    }

    #logo1 {
        height: 45vh;
        margin-top: 0vh;

    }

}